.profileScreen__body{
    max-width: 1600px;
    margin: auto;
}

.profileScreen__info{
    display: flex;
}
.profileScreen__details{
    padding-left: 30px;
}

@media only screen and (max-width: 650px) {
    .profileScreen__info{
        display: flex;
        flex-direction: column;
    }
}
