.cartpage {
  margin-top: 60px;
  max-width: 1600px;
  margin: auto;
  justify-content: space-between;
}

.cartpage__container{
  display: flex;
}

.cartpage__right > ul {
  list-style-type: none;
  padding-left: 0;
}
.cartpage__left{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cartpage__right{
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
}

.cartpage__right > ul > li {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartpage__totalamount {
  text-align: right;
  font-size: 32px;
}

.cartpage__item {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.cartpage__item > img {
  width: 50px;
  padding: 0 10px 0 0;
}
.cartpage__order{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.cartpage__orderbutton {
  display: flex;
  justify-content: center;
  width: 10%;
  padding: 20px 20px;
  background-color: #f1b104;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
}

.cartpage__order {
  border-top: 1px solid black;
align-items: center;
}

@media only screen and (max-width: 650px) {
  .cartpage {
    padding: 20px;
    max-width: 1600px;
    margin: auto;
    justify-content: space-between;
  }
  .cartpage__totalamount{
    padding: 0 10px;
  }
  .cartpage__order{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .cartpage__container{
    display: flex;
    flex-direction: column;
  }
  .cartpage__right{
    padding: 0px;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(235, 235, 235);
  }
  .cartpage__item {
    padding: 0 10px;
    align-items: center;
  }
  .cartpage__orderbutton {
    margin: 0 10px;
    width: 20%;
    padding: 20px 20px;
    background-color: #f1b104;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
  }
}
