.cartmodal{
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border: 1px solid #f1b104;
}

.cartmodal__background{
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
}

.cartmodal__item{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cartmodal__item > p {
    margin: 10px;
}

.cartmodal__item > img {
    width: 50px;
}

.cartmodal__item_input > input{
    width: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}