.navbar {
    max-width: 1600px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar > ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navbar > ul > li > a{
    color: black;
    font-weight: 800;
}

.navbar > ul > li {
    margin-left: 2rem;
}

.navbar__logo{
    width: 3rem;
    object-fit: contain;
    padding: 0 1rem;
}

.navbar__icons{
    display: flex;
    flex-direction: row;
}

.navbar__icons > a >img{
    width: 2.5rem;
    padding: 0 1rem;
    object-fit: contain;
    align-items: center;
}

.navbar__cart{
    width: 2.5rem;
    padding: 0 1rem;
    object-fit: contain;
    align-items: center;
    cursor: pointer;
}

.toggle-button{
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media only screen and (max-width: 650px) {
    .toggle-button{
        display: flex;
    }
    .navbar {
        max-width: 1600px;
        margin: auto;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
    }
    .navbar > ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        padding-left: 0;
    }
    .navbar__logo{
        width: 3rem;
        object-fit: contain;
        padding: 0rem;
    }
    .navbar > ul > li {
        padding: 10px 0;
        margin: 0;
    }
  }
