.navbar {
    max-width: 1600px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navbar > ul > li > a{
    color: black;
    font-weight: 800;
}

.navbar > ul > li {
    margin-left: 2rem;
}

.navbar__logo{
    width: 3rem;
    object-fit: contain;
    padding: 0 1rem;
}

.navbar__icons{
    display: flex;
    flex-direction: row;
}

.navbar__icons > a >img{
    width: 2.5rem;
    padding: 0 1rem;
    object-fit: contain;
    align-items: center;
}

.navbar__cart{
    width: 2.5rem;
    padding: 0 1rem;
    object-fit: contain;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
    .navbar {
        display: none;
    }
  }
